Repository rmitchell1994/media-list-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn test

.lintstagedrc:

{
    "*.{tsx, ts, js, jsx}": "yarn lint",
    "*.test.{tsx, ts, js, jsx}" : "yarn test"
}

Update Dev config to remove prod details
  config/development.json
Due: none

Fix linting rules and errors
  .eslintrc.js
  cypress/integration/authentication/authentication.js
  cypress/plugins/index.js
  jest.config.js
  jest.setup.js
  src/components/delete-account/delete-account.test.tsx
  src/components/logout-button/logout-button.test.tsx
  src/context/signed-in-provider.test.tsx
Due: yarn lint, yarn test

Update logic around authentication
  .eslintrc.js
  contracts/data/authentication.ts
  package.json
  src/App.tsx
  src/components/delete-account/delete-account.tsx
  src/components/update-user/update-user.test.tsx
  src/components/update-user/update-user.tsx
  src/modules/account-page/account-page-provider.tsx
  src/modules/account-page/account-page-reducer.test.tsx
  src/modules/account-page/account-page-reducer.ts
  src/modules/account-page/account-page.tsx
  src/modules/account-page/delete-account/__snapshots__/delete-account.test.tsx.snap
  src/modules/account-page/delete-account/delete-account.test.tsx
  src/modules/account-page/delete-account/delete-account.tsx
  src/modules/account-page/index.tsx
  src/modules/account-page/update-user/__snapshots__/update-user.test.tsx.snap
  src/modules/account-page/update-user/update-user.test.tsx
  src/modules/account-page/update-user/update-user.tsx
  src/modules/routes/index.tsx
Due: yarn lint, yarn test

Tidy up auth logic and tests
  contracts/data/authentication.ts
  cypress/integration/authentication.feature
  cypress/integration/authentication/authentication.js
  cypress/screenshots/authentication.feature/Authentication Journeys -- Should display error notification on update password failure (failed).png
  cypress/screenshots/authentication.feature/Authentication Journeys -- Should successfully update a users password (failed).png
  cypress/support/commands.js
  package.json
  src/modules/account-page/account-page-provider.tsx
  src/modules/account-page/account-page-reducer.test.tsx
  src/modules/account-page/account-page-reducer.ts
  src/modules/account-page/account-page.test.tsx
  src/modules/account-page/account-page.tsx
  src/modules/account-page/delete-account/delete-account.test.tsx
  src/modules/account-page/delete-account/delete-account.tsx
  src/modules/account-page/update-user/update-user.test.tsx
  yarn.lock
Due: yarn lint, yarn test

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

fix authentication cypress tests to truly reflect logged in user
  cypress/integration/authentication.feature
  cypress/integration/authentication/authentication.js
  cypress/support/commands.js
  src/modules/routes/index.tsx
Due: yarn lint

clean up unused cypress steps
  cypress/integration/authentication/authentication.js
Due: none

remove commented out code
  cypress/support/commands.js
Due: none

update README
  README.md
Due: none

add private route component and login logic to certain components
  contracts/data/authentication.ts
  cypress/integration/authentication.feature
  cypress/integration/authentication/authentication.js
  src/App.tsx
  src/components/header/header.test.tsx
  src/components/header/header.tsx
  src/context/signed-in-provider.tsx
  src/modules/account-page/account-page-reducer.test.tsx
  src/modules/account-page/account-page-reducer.ts
  src/modules/account-page/account-page.test.tsx
  src/modules/account-page/account-page.tsx
  src/modules/account-page/delete-account/delete-account.tsx
  src/modules/home-page/home-page.test.tsx
  src/modules/home-page/home-page.tsx
  src/modules/login-page/login-page.test.tsx
  src/modules/login-page/login-page.tsx
  src/modules/routes/index.tsx
  src/modules/routes/private-route.tsx
  src/modules/sign-up-page/sign-up-page.tsx
Due: yarn lint, yarn test

Add CLAUDE.md with build commands and architecture overview
  CLAUDE.md
Due: none
