Repository rmitchell1994/media-list-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn test

.lintstagedrc:

{
    "*.{tsx, ts}": "yarn lint",
    "*.test.{tsx, ts}" : "yarn test"
}

add linting step to unit tests CI
  .github/workflows/unit-tests.yml
Due: none

Update snapshot
  .github/workflows/unit-tests.yml
  src/__snapshots__/App.test.tsx.snap
Due: none

remove debug
  package.json
Due: none

remove webpack shell plugin
  package.json
Due: none

Add routing
  .babelrc
  package.json
  src/App.tsx
  src/pages/home.test.tsx
  src/pages/home.tsx
  src/router/index.tsx
  yarn.lock
Due: yarn lint, yarn test

update snapshots
  src/pages/__snapshots__/home.test.tsx.snap
Due: none

update
  src/pages/__snapshots__/home.test.tsx.snap
  src/pages/home.test.tsx
Due: yarn lint, yarn test

Add layout for header and footer alongside global styles
  @types/styled.d.ts
  package.json
  src/App.tsx
  src/atomic/molecules/footer/footer.styles.ts
  src/atomic/molecules/footer/index.tsx
  src/atomic/molecules/header/header.styles.tsx
  src/atomic/molecules/header/index.tsx
  src/atomic/organisms/layout/index.tsx
  src/atomic/organisms/layout/layout.styles.ts
  tsconfig.json
  yarn-error.log
  yarn.lock
Due: yarn lint

Add theme provider, types for theme, header & footer tests
  @types/styled.d.ts
  config/theme.json
  contracts/themes/colours.ts
  package.json
  src/App.tsx
  src/__snapshots__/App.test.tsx.snap
  src/atomic/molecules/footer/__snapshots__/footer.test.tsx.snap
  src/atomic/molecules/footer/footer.styles.ts
  src/atomic/molecules/footer/footer.test.tsx
  src/atomic/molecules/footer/footer.tsx
  src/atomic/molecules/header/__snapshots__/header.test.tsx.snap
  src/atomic/molecules/header/header.styles.tsx
  src/atomic/molecules/header/header.test.tsx
  src/atomic/molecules/header/header.tsx
  src/atomic/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/atomic/organisms/layout/layout.test.tsx
  src/atomic/organisms/layout/layout.tsx
  test/test-utils.tsx
  tsconfig.json
  yarn.lock
Due: yarn lint, yarn test

Update return type of test util custom Render
  test/test-utils.tsx
Due: yarn lint

Ignore yarn error
  .gitignore
Due: none

Add in home page that switches based off whether user signed in
  .gitignore
  package.json
  src/App.tsx
  src/__snapshots__/App.test.tsx.snap
  src/context/signed-in-provider.test.tsx
  src/context/signed-in-provider.tsx
  src/modules/home-page/home-page.test.tsx
  src/modules/home-page/home-page.tsx
  src/modules/prospect-page/__snapshots__/prospect-page.test.tsx.snap
  src/modules/prospect-page/prospect-page.test.tsx
  src/modules/prospect-page/prospect-page.tsx
  src/modules/signed-in-page/__snapshots__/signed-in-page.test.tsx.snap
  src/modules/signed-in-page/signed-in-page.test.tsx
  src/modules/signed-in-page/signed-in-page.tsx
  src/pages/home.test.tsx
  src/pages/home.tsx
  src/router/index.tsx
  tsconfig.json
  yarn.lock
Due: yarn lint, yarn test

update yarn lock file
  yarn.lock
Due: none

Create sign in component and relevant states
  .babelrc
  .eslintrc.js
  contracts/data/authentication.ts
  package.json
  src/App.tsx
  src/__snapshots__/App.test.tsx.snap
  src/atomic/molecules/header/__snapshots__/header.test.tsx.snap
  src/atomic/molecules/header/header.styles.tsx
  src/atomic/molecules/header/header.tsx
  src/atomic/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/atomic/organisms/layout/layout.tsx
  src/context/signed-in-provider.test.tsx
  src/context/signed-in-provider.tsx
  src/index.html
  src/modules/sign-up-page/sign-up-page.styles.tsx
  src/modules/sign-up-page/sign-up-page.tsx
  src/router/index.tsx
  src/services/authentication.ts
  test/test-utils.tsx
  webpack.config.js
  yarn.lock
Due: yarn lint, yarn test

Write unit tests for sign up page
  src/modules/sign-up-page/__snapshots__/sign-up-page.test.tsx.snap
  src/modules/sign-up-page/sign-up-page.test.tsx
  src/modules/sign-up-page/sign-up-page.tsx
  src/services/authentication.test.ts
Due: yarn lint, yarn test

Remove history
  package.json
  yarn.lock
Due: none

Add test for checking onAuthStatechange called on signed in provider
  src/context/signed-in-provider.test.tsx
Due: yarn lint, yarn test

Add firebase emulator and cypress for local testing
  .eslintrc.js
  .gitignore
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/authentication.feature
  cypress/integration/authentication/authentication.js
  cypress/integration/common/index.js
  cypress/integration/common/pages.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  firebase.json
  package.json
  src/App.tsx
  src/modules/sign-up-page/sign-up-page.tsx
  src/modules/signed-in-page/signed-in-page.tsx
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: yarn lint

Add linting for js files
  .lintstagedrc
Due: none

Add faker for user creation and error signup scenario
  cypress/integration/authentication.feature
  cypress/integration/authentication/authentication.js
  package.json
  src/App.tsx
  src/modules/sign-up-page/sign-up-page.tsx
  src/modules/signed-in-page/signed-in-page.tsx
  yarn.lock
Due: yarn lint

Add running cypress tests to github actions
  .github/workflows/tests.yml
  cypress/videos/authentication.feature.mp4
  package.json
Due: none

Fix unit tests
  src/modules/sign-up-page/__snapshots__/sign-up-page.test.tsx.snap
  src/modules/signed-in-page/__snapshots__/signed-in-page.test.tsx.snap
  src/modules/signed-in-page/signed-in-page.tsx
Due: yarn lint

Test adding firebase
  .github/workflows/tests.yml
Due: none

Update firebase tests
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/tests.yml
Due: none

Update firebase tests
  .github/workflows/tests.yml
Due: none

Update firebase tests
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/tests.yml
Due: none

Add back other tests
  .github/workflows/tests.yml
Due: none

Update react query tools and dev mode on start
  package.json
  src/App.tsx
Due: yarn lint

Add header unit tests
  contracts/data/authentication.ts
  package.json
  src/__snapshots__/App.test.tsx.snap
  src/atomic/molecules/header/__snapshots__/header.test.tsx.snap
  src/atomic/molecules/header/header.test.tsx
  src/atomic/molecules/header/header.tsx
  src/atomic/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/modules/home-page/home-page.test.tsx
  src/modules/login-page/login-page.styles.tsx
  src/modules/login-page/login-page.tsx
  src/router/index.tsx
  src/services/authentication.test.ts
  src/services/authentication.ts
  yarn.lock
Due: yarn lint, yarn test

Add login page unit tests
  src/modules/login-page/__snapshots__/login-page.test.tsx.snap
  src/modules/login-page/login-page.test.tsx
Due: yarn lint, yarn test

Add login and logout functionality
  cypress.json
  cypress/integration/authentication.feature
  cypress/integration/common/pages.js
  cypress/videos/authentication.feature.mp4
  src/App.tsx
  src/__snapshots__/App.test.tsx.snap
  src/atomic/atoms/logout-button/__snapshots__/logout-button.test.tsx.snap
  src/atomic/atoms/logout-button/logout-button.styles.tsx
  src/atomic/atoms/logout-button/logout-button.test.tsx
  src/atomic/atoms/logout-button/logout-button.tsx
  src/atomic/molecules/header/__snapshots__/header.test.tsx.snap
  src/atomic/molecules/header/header.test.tsx
  src/atomic/molecules/header/header.tsx
  src/atomic/organisms/layout/__snapshots__/layout.test.tsx.snap
  src/modules/sign-up-page/sign-up-page.tsx
  src/services/authentication.test.ts
  src/services/authentication.ts
  test/test-utils.tsx
Due: yarn lint, yarn test

Uncomment existing integration tests
  cypress/integration/authentication.feature
Due: none

Add login user tests
  cypress/integration/authentication.feature
  cypress/integration/authentication/authentication.js
  cypress/integration/common/pages.js
  cypress/support/commands.js
  src/modules/home-page/home-page.tsx
  src/modules/prospect-page/__snapshots__/prospect-page.test.tsx.snap
  src/modules/prospect-page/prospect-page.tsx
Due: yarn lint

Remove jest-when
  package.json
  yarn.lock
Due: none

Create an account page for updating user information
  cypress/integration/authentication.feature
  cypress/integration/authentication/authentication.js
  cypress/integration/common/pages.js
  src/App.tsx
  src/components/delete-account/__snapshots__/delete-account.test.tsx.snap
  src/components/delete-account/delete-account.test.tsx
  src/components/delete-account/delete-account.tsx
  src/components/footer/__snapshots__/footer.test.tsx.snap
  src/components/footer/footer.styles.ts
  src/components/footer/footer.test.tsx
  src/components/footer/footer.tsx
  src/components/header/__snapshots__/header.test.tsx.snap
  src/components/header/header.styles.tsx
  src/components/header/header.test.tsx
  src/components/header/header.tsx
  src/components/layout/__snapshots__/layout.test.tsx.snap
  src/components/layout/layout.styles.ts
  src/components/layout/layout.test.tsx
  src/components/layout/layout.tsx
  src/components/logout-button/__snapshots__/logout-button.test.tsx.snap
  src/components/logout-button/logout-button.styles.tsx
  src/components/logout-button/logout-button.test.tsx
  src/components/logout-button/logout-button.tsx
  src/components/update-user/__snapshots__/update-user.test.tsx.snap
  src/components/update-user/update-user.test.tsx
  src/components/update-user/update-user.tsx
  src/modules/account-page/__snapshots__/account-page.test.tsx.snap
  src/modules/account-page/account-page.test.tsx
  src/modules/account-page/account-page.tsx
  src/router/index.tsx
  src/services/authentication.ts
Due: yarn lint, yarn test

add unit tests for auth services
  src/services/authentication.test.ts
Due: none

add before each to jest mock
  src/services/authentication.test.ts
Due: none

Add prod and dev config alongside more easily customisable index.js file
  @types/globals.d.ts
  config/development.json
  config/production.json
  contracts/data/authentication.ts
  contracts/data/firebase.ts
  package.json
  scripts/make-index.js
  src/App.tsx
  src/index.html
  webpack.config.js
Due: yarn lint

restore auth types file and remove firebase data file
  contracts/data/authentication.ts
  contracts/data/firebase.ts
Due: none
